version: '3.9'

services:
  db:
    image: postgres:16
    restart: always
    ports:
      - '15432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: welive
    volumes:
      - db_data:/var/lib/postgresql/data
  test_db:
    image: postgres:16
    restart: always
    ports:
      - '15433:5432' 
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: welive_test 
    volumes:
      - test_db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    ports:
      - '8080:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  test_db_data:
  pgadmin_data:
